body{
    font: normal 15pt Arial;
    background-color: rgba(5, 70, 70, 0.442);
}

h1{
    text-align: center;
}

section{
    background: white;
    padding: 8px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.263);
    width: 550px;
}

footer{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

