
:root {
    --cor0: #06147D;
    --cor1: #596CFD;
    --cor2: #0D29FC;
    --cor3: #2C357D;
}

body {
    background-color: rgba(0, 0, 0, 0.286);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #06147D;
    text-align: center;
}

div{
    text-align: center;
}

div#linkdin{
    background-color: white;
    margin-bottom: 25px;
}

div#instagram{
    background-color: white;
    margin-bottom: 25px;
}

div#github{
    background-color: white;
    margin-bottom: 25px;
}

div#email{
    background-color: white;
    margin-bottom: 25px;
}

aside {
    text-align: center;
    text-align: justify;
    text-indent: 10px;
    line-height: 2.0em;
}

footer {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
   
}


  

